Always code things with the expectation that they will be expanded on.
Keep track of all your variables and make sure not to use variables you haven't defined yet
Try to use as little data between the servers as possible, frontload client side computations whenever possible